<div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title mb-0">MAX</h1>
          <h1 class="mt-0">FORSBERG</h1>
          <hr>
          <h4>FRONTEND-DEVELOPER</h4>
          <div class="d-flex">
            <i class="fas fa-envelope fa-4x"></i>
            <div class="ms-2 mt-2">
              <h5 class="mb-0">Email</h5>
              <p>max.forsberg@outlook.com</p>
            </div>
          </div>
          <div class="d-flex">
            <i class="fas fa-mobile-alt fa-4x"></i>
            <div class="ms-2 mt-2">
              <h5 class="mb-0">Phone number</h5>
              <p>070 34 64 279</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="img" src="https://avatars.services.sap.com/images/krishan.yadav2_small.png" alt="">
        </div>
      </div>
    </div>
  </div>