<div class="row mt-5">
    <div class="col-sm-5">
        <h1 class="card-title text-center">ARBETSLIVSERFARENHETER</h1>
        <div class="card mt-5">
            <div class="card-body d-flex align-items-center">
                <div>
                    <p class="m-0 fst-italic"> Mar, 2020 -</p>
                    <p class="fst-italic"> Sep, 2020</p>
                </div>
                <div class="mx-2">
                    <h4 class="fw-bold">Lagerarbetare</h4>
                    <p>Kungsåra Bildemontering, Västerås</p>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body d-flex align-items-center">
                <div>
                    <p class="m-0 fst-italic"> 2016 -</p>
                    <p class="fst-italic"> 2019</p>
                </div>
                <div class="mx-2">
                    <h4 class="fw-bold">Vetterstorpsskolan</h4>
                    <p>Västeråsstad, Västerås</p>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body d-flex align-items-center">
                <div>
                    <p class="m-0 fst-italic"> 2017 &</p>
                    <p class="fst-italic"> 2018</p>
                </div>
                <div class="mx-2">
                    <h4 class="fw-bold">Arbetsledare, Summer Works</h4>
                    <p>Mimer AB, Västerås</p>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body d-flex align-items-center">
                <div>
                    <p class="m-0 fst-italic"> Apr, 2016 -</p>
                    <p class="fst-italic"> Jul, 2016</p>
                </div>
                <div class="mx-2">
                    <h4 class="fw-bold">Tekniksprånget</h4>
                    <p>ABB Robotics, Västerås</p>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body d-flex align-items-center">
                <div>
                    <p class="m-0 fst-italic"> Okt, 2015 -</p>
                    <p class="fst-italic"> Mar, 2016</p>
                </div>
                <div class="mx-2">
                    <h4 class="fw-bold">Medarbetare</h4>
                    <p>Burger, Västerås</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-5">
        <h1 class="card-title text-center">UTBILDNING</h1>
        <div class="card mt-5">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="m-0 fst-italic"> Okt, 2020 -</p>
                        <p class="fst-italic"> pågående</p>
                    </div>
                    <div class="mx-2">
                        <h4 class="fw-bold">EC Utbildning</h4>
                        <p>Västerås</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">AGILA PROJEKTMETODER</p>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">HTML</p>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">CSS</p>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">JAVASCRIPT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="m-0 fst-italic"> Aug, 2019 -</p>
                        <p class="fst-italic"> Feb, 2020</p>
                    </div>
                    <div class="mx-2">
                        <h4 class="fw-bold">Civilingenjör inom KTS</h4>
                        <p>Linköpings Universitet, Norrköping</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">C++</p>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">TRANSPORTSYSTEM</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="m-0 fst-italic"> Sep, 2017 -</p>
                        <p class="fst-italic"> Jan, 2018</p>
                    </div>
                    <div class="mx-2">
                        <h4 class="fw-bold">Civilekonomprogrammet</h4>
                        <p>Mälardalens Högskola, Västerås</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">FÖRETAGSEKONOMI</p>
                            </div>
                            <div class="d-flex">
                                <i class="fas fa-circle mt-1"></i><p class="mx-2 m-0">MIKROEKONOMI</p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-2 card-profile">
        <div class="card">
            <div class="card-body card-image">
                <img class="img" src="https://avatars.services.sap.com/images/krishan.yadav2_small.png" alt="">
                <h4 class="mt-2">Max</h4>
                <h4>Forsberg</h4>
                <div class="d-flex">
                    <h5>Telefon:</h5>
                    <p class="mx-2">070 34 64 279</p>
                </div>
                <div class="d-flex">
                    <h5>Email:</h5>
                    <p class="mx-2">max.forsberg@outlook.com</p>
                </div>
            </div>
        </div>
    </div>
</div>